@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin button($bg-color, $border) {
    // margin: 0 auto;
    outline: none;
    border: $border;
    background: none;
    background-color: $bg-color;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: inline-block;
}